
#title {
	background-color: #9fbedf;

}

#pageContent {
	
}

#navBar {
	
}

#footer {
	
}

#logo {
	width:40px;
}

#intro-text {
	text-align:center;
}

.carousel-caption {
	text-shadow: 0px 2px black;
}

body {
	background-color: #00284d;
}

