#title {
	background-color:lavender;

}

#pageContent {
	background-color:lavender;
}

#navBar {
	background-color:lavender;
}

#footer {
	background-color:lavender;
}

#logo {
	width:40px;
}

#intro-text {
	
}