body {
	background-color: #00284d;
	background-image: url("../images/background.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

#title {
	background-color: #9fbedf;
}

#pageContent {
	
}

#navBar {
	
}

#footer {
	
}

#logo {
	width:40px;
}

#intro-text {
	text-align:center;
}

#description {
	height:345px;
	overflow-y:auto;
}

.btn {
	white-space: normal;
}

.social-icon {
	width: 128px;
	height: 128px;
}

.carousel-caption {
	text-shadow: 0px 2px black;
}
